body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Ubuntu', serif;
    background-color: #f8f8f8;
}

/* Typography */

.title {
    font-size: 3.375rem;
    color: #143774;
    font-weight: 400;
}

.subtitle {
    font-size: 1rem;
    color: #1792D2;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-weight: 700;
}


/* Layout */

.container {
    width: 90%;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;

}

header {
    margin: 0;
    padding: 2em 0;
}

.title,
.subtitle {
    text-align: center;
    margin: 0 auto;
}


/* Navigation */
/*  */

.nav-list {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin-left: 2em;
}

.nav-list a {
    color: #707070;
    text-decoration: none;
    font-weight: 700;
    padding: .25em 0;

}

.nav-list a:focus,
.nav-list a:hover {
    color: #143774;
}

.current-page {
    border-bottom: 1px solid #707070;
}

nav .current-page:hover {
    color: #707070;
}

@media (max-width:675px) {
    .container-nav {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list li {
        margin: .5em 0;
    }

}